
<div id="updateLib" class="Library-Container">
    <h2>Update Library Contents</h2>
    <br>
<form action="/{{Singlelibrary._id}}?_method=PUT" method="POST">
		<p>Name:</p>
		<input type="text" name="name" value="New Library" />
        <input type="submit" name="submitBtn" value="Change Library" />
</form>
<a href="/">Return to Home Page</a>
</div>