<h1>List Of Libraries
    <br>
    {{#each libraryList}}
    <br>
    <a href = "/{{_id}}">
        <div>
            {{name}}
        </div>
    </a>
    {{/each}}
    <br>
    <a href ="/new">Add New Library </a>
</h1>