
<div id="listLib" class="Library-Container">
    <h1>List Of Libraries</h1>
    <br>
    {{#each libraryList}}
    <br>
    <li>
    <a href = "/{{_id}}">{{name}}</a>
    </li>
    {{/each}}
    <br>
    <a href="/new"> Add New Library </a>
</div>