
<h1>
    Create A New Library
</h1>
<div id="edit-form" class="Library-Container">
<br>
<form action="/" method="POST">
		<p>Name:</p>
        <input type="text" name="name" />
        <input type="submit" name="submitBtn" value="Add Library" />
</form>
<br>
</div>

