<h2>Update Librarian</h2>
    <br>
<form action="/{{Singlelibrary._id}}?_method=PUT" method="POST">
		<p>Librarian :</p>
		<input type="text" name="name"/>
        <input type="submit" name="submitBtn" value="Change Librarian" />
</form>
<a href="/{{Singlelibrary._id}}">Return</a>