<div id="updateBook" class="Library-Container">
    <h2>Update Book</h2>
    <br>
<form action="/{{Singlelibrary._id}}?_method=PUT" method="POST">
		<p>Book :</p>
        <p>Name</p>
		<input type="text" name="name"/>
        <p>Author</p>
        <input type="text" name="author"/>
        <p>Genre</p>
        <input type="text" name="genre"/>
        <input type="submit" name="submitBtn" value="Change Book" />
</form>
<a href="/{{Singlelibrary._id}}">Return</a>
</div>