<h1>
    Add New Book
</h1>
<div id="edit-form" class="Library-Container">
<br>
<form action="/{{libraryId}}/book" method="POST">
		<p>Name:</p>
        <input type="text" name="name" />  
        <br> Genre:
        <input type="text" name="genre" />
        <br> Author:
        <input type="text" name="author" />

        <input type="submit" name="submitBtn" value="Add Library" />
</form>
<br>
</div>
